*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue; 
    /*
    transition specifies 
        1. the property to transition
        2. the duration of the transition
        3. the timing function to use or animation curve or animations type/style

        transition: background-color 10s ease-in-out;
            background-color: property to transition
            10s: duration of the transition
            ease-in-out: timing function to use / animation curve / animation type/style
    */
    transition: background-color 4s ease-in-out;

    height: 800px;
}

.container{ 
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 10px;

}
header{
    background-color: lightseagreen;
    padding: 10px;
    margin-bottom: 10px;

}
footer{
    position: absolute; 
    height: 40px;
    bottom: -800px;
    left: 0;
    width: 100%;
    background-color: lightsalmon;
    padding: 10px;
    margin-top: 10px;
}
/**
    basically position static and relative are the same
     in the old days some browsers used static and others supported relative
*/
/*
    absolute and relative require position to be set
     positions are 
     1. left
     2. right
     3. top
     4. bottom
    absolute positioned element hides on scroll while fixed positioned element stays on the screen

    sticky is a combination of relative and fixed
        it is relative until it reaches a certain point then it becomes fixed
        in sticky position specifying the position is not important
        because it can by default take relative position
        but then it remains relative until it reaches a certain point
        then it becomes fixed
*/
/**
    the following are the positioning styles
    1. static
    2. relative
    3. absolute
    4. fixed
    5. sticky

    relative and static are the same 

    absolute and fixed require the position to be set
    absolute positioned element hides on scroll while fixed positioned element stays on the screen

    sticky is a combination of relative and fixed
        it is relative until it reaches a certain point then it becomes fixed
        in sticky position specifying the position is not important
        because it can by default take relative position
        but then it remains relative until it reaches a certain point
        then it becomes fixed

*/
.top-container{
    position: sticky;
    top: 0;
    left: 0;
    /* position: sticky; */
    /* top: 20px; */
    /* top: 0;
    left: 0; */
    width: 100%;
    z-index: 1000;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
}
/* Styles for screens larger than  600px */
/* 
    this means if screen size is > 600px
       then apply the following styles
*/
@media (min-width: 600px) {
    body{
        background-color: lightgreen;
    }
    .container{
        width: 80%;
        /* center the container */
        /*
         0 is is zero pixels
         but auto is a keyword that means center the container
            margin: 0 auto;
                0: top and bottom margin
                auto: left and right margin
        */
    
        margin: 0 auto;
    }
}

/* Styles for screens smaller than  600px */
@media (max-width: 600px) {
    body{
        background-color: lightcoral;
    }
}